@page "/AutoCounter"
@rendermode InteractiveAuto

<PageTitle>Auto Counter</PageTitle>

<h1>Auto Counter</h1>
<p>Clear browser cache, first load uses WebSockets/Server components logs to .NET IDE console,
    second load uses WASM and logs to browser console.</p>

<Counter />
